.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-radius: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.btn.btnRegistration {
  max-width: 166px;
  padding: 14px 39px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--main-text);
  color: var(--white);
}

.btn.btnRegistration:hover,
.btn.btnRegistration:focus {
  background-color: var(--color-one);
  color: var(--main-text);
}

.btn.btnLogIn {
  width: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
}

.btn.btnLogIn:hover,
.btn.btnLogIn:focus {
  color: var(--color-one);
}

.btn.loginBtn {
  width: 438px;
  background-color: var(--color-one);
  color: var(--main-text);
}

.btn.registerBtn {
  width: 438px;
  background-color: var(--color-one);
  color: var(--main-text);
}

.btn.logOutBtn {
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--main-text);
  color: var(--white);
  padding: 14px 0;
  font-size: 16px;
  line-height: 1.25;
}

.btn.logOutBtn:hover,
.btn.logOutBtn:focus {
  background-color: var(--color-one);
  color: var(--main-text);
  svg {
    stroke: var(--main-text);
    fill: var(--color-one);
  }
}

.btn.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  stroke: var(--main-text);
  background-color: var(--white);
}

.btn.btnSearch:hover,
.btn.btnSearch:focus {
  fill: var(--color-one);
}

.btn.btnStart {
  width: 267px;
  background-color: var(--color-one);
  color: var(--main-text);
}

.btn.btnStart:hover,
.btn.btnStart:focus {
  background-color: var(--color-two);
}

.btn.btnLoadMore {
  width: 183px;
  margin: 0 auto;
  background-color: var(--color-one);
}

.btn.btnLoadMore:hover,
.btn.btnLoadMore:focus {
  background-color: var(--color-two);
}

.btnReadMore {
  padding: 0;
  text-decoration: underline;
  font-family: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.btnBookTrial {
  background-color: var(--color-one);
  padding: 16px 48px;
}

.btnBook {
  width: 100%;
  background-color: var(--color-one);
  padding: 16px 48px;
}
