.reviewsList {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.reviewerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.reviewerPhoto {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: rgba(var(--main-text-rgb), 0.2);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.reviewerNameRating {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

.reviewerNameRating p:nth-child(1) {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-text);
}

.reviewerNameRating p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.reviewerComment {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
