.langList {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 32px;
}

.langItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 1px solid rgba(var(--main-text-rgb), 0.2);
  border-radius: 35px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.experienceText {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: -16px;
  margin-bottom: 32px;
}
