@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('modern-normalize');

:root {
  --main-font: 'Roboto', sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-text: #121417;
  --second-text: #8a8a89;
  --select-color: #121417;
  --option-color: rgba(18, 20, 23, 0.2);
  --background-teachers-page: #f8f8f8;
  --white: #ffffff;
  --online: #38cd3e;
  --color-one: #f4c550;
  --color-two: #fbe9ba;
  --color-three: #9fbaae;
  --color-four: #cbded3;
  --color-five: #9fb7ce;
  --color-six: #bfd6ea;
  --color-seven: #e0a39a;
  --color-eight: #f2c0bd;
  --color-nine: #f0aa8d;
  --color-ten: #f4c8ba;
}

body {
  font-family: var(--main-font);
  background-color: var(--white);
}
